/*
    stylesheet for the everything about V-Malaysia section
*/


/*Whitespace testing*/

#about {
    padding-top: 80px;
    margin: auto;
}

#about > div > div h3 {
    /*padding-top: 30px;*/
    font-size: 3em;
}

#about > div > div {
    display: flex;
    justify-content: space-between;
    padding: 6em 0;
    vertical-align: middle;
}

#about > div > div > div{
    max-width: 40em;
    width: 50%;
}

#about > div > div img {
    display: block;
    width: 40%;
    height: auto;
}


/* TODO: temporary */

#about > h1 {
    display: none;
}

#about > div > div:nth-child(1) p,
#about > div > div:nth-child(3) p {
    padding-top: 0px;
    text-align: left;
}

#about > div > div:nth-child(2) p {
    padding-top: 0px;
    margin-left: auto;
    text-align: left;
}

#about > div > div:nth-child(2) h3 {
    text-align: left;
}
