/*
    stylesheet for the everything about V-Malaysia section
*/


/*Whitespace testing*/ 
* {
    /*border: 1px solid red;*/
}


#about {
    padding-top: 70px;
    padding-bottom: 0;
    margin: auto;
}

#about > div > div h3 {
    /*padding-top: 30px;*/
    font-size: 3em;
    width: 11em;
}

#about > div > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    vertical-align: middle;
}

/* TODO: temporary */
#about > h1 {
    display: none;
}

#about > div > div:nth-child(1) p, #about > div >div:nth-child(3) p{
    padding-top: 0px;
    width: 27em;
    text-align: left;
}

#about > div > div:nth-child(2) p{
    padding-top: 0px;
    width: 32em;
    margin-left:auto;
    text-align: right;
}

#about > div > div:nth-child(2) h3 {
    text-align: right;
}