/*
    stylesheet for the room reservation section
*/

#room-reservation {
    padding-top: 320px;
    padding-bottom: 220px;
}

#room-reservation-title {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 4%;
}

#room-reservation > p {
    margin: 0 auto;
    width: 45%;
    text-align: center;
}

#room-reservation > button {
    display: block;
    margin: 4% auto 0;
}