/*
    footer stylesheet for the contact us and social media links
*/

#contact-us {
    
}

#contact-us-title {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 2em;
}

#contact-us > div {
    margin-bottom: 10px;
}

#contact-us > div p{
    margin: 20px auto;
    width: 50%;
    text-align: center;
    color: white;
}

#follow-us {
    position: relative;
    top: 120px;
}

#follow-us > h3 {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    font-size: 2em;
    color: white;
}

#follow-us > p {
    font-weight: bold;
}

#follow-us > i {
    /*
    display: inline-block;
    text-align: center;
    width: 32%;
    margin: 0 auto;*/
}