/*
    stylesheet for the instagram feed dock
*/

#ig-dock {
    /* TODO: Temporary */
    margin-top: 200px;
    margin-bottom: 200px;
}

#ig-dock-title {
    margin: 0 auto;
    width: 70%;
    color: white;
    font-size: 3em;
    text-align: center;
}