/*
    stylesheet for the news and updates section
*/

#news-and-updates {
    margin-top: 20px;
}

#news-and-updates-title {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    font-size: 3em;
    color: white;
}

#news-and-updates > p {
    margin: 0 auto;
    margin-top: 5px;
    width: 40%;
    text-align: center;
    text-transform: full-width;
    color: white;
}