/*
    stylesheet for the timeline of the site
*/


/*#history {
    padding-top: 70px;
    padding-bottom: 0;
    margin: auto;
}*/

#history-title {
    text-align: center;
    width: 60%;
    font-size: 3em;
    margin: auto;
}

#history-tagline {
    width: 52%;
    margin: auto;
    text-align: center;
    text-transform: none;
}


/* TODO: temporary */

#history>div>h3,
#history>div>p {
    /* display: none; */
    /* Tentative color */
    color: white;
}